<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BookShellSuite">
	<listeners>
		<listener class-name="analyzer.MyTransformer"></listener>
		<!--<listener class-name="analyzer.CustomeListeners"></listener>-->
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
		<class name="com.testCases.TC_001_LoginTest"/>
		<class name="com.testCases.TC_002_RegistrationTest"/>
		<class name="com.testCases.TC_003_SearchItem_addCart"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- BookShellSuite -->
